<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

  <label for="role">Role:</label>
  <select id="role" name="role">
    <option value="ROLE_CANDIDATE">Candidate</option>
    <option value="ROLE_EMPLOYER">Employer</option>
  </select>
  <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</div>
  <br/>

  <label for="username">Username: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
  <br/>

  <label for="password">Password: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
  <br/>

  <label for="firstName">First name: </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error
  </div>
  <br/>

  <label for="lastName">Last name: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error
  </div>
  <br/>

  <label for="email">Email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error
  </div>
  <br/>

  <label for="phone">Phone number: </label>
  <input type="text" th:field="*{phone}" id="phone"/>
  <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone number Error
  </div>
  <br/>

  <label for="location">Location: </label>
  <input type="text" th:field="*{location}" id="location"/>
  <div style="color:red" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Error
  </div>
  <br/>

  <input type="submit" value="Sign up!"/>
</form>

</body>
</html>