<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All employers</title>
</head>
<body>

<!-- Include the navigation fragment -->
<th:block th:replace="fragments/nav :: nav"></th:block>

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Location</th>
        <th>Created at</th>
    </tr>

    <div th:each="employer : ${employers}">
        <tr>
            <th th:text="${employer.getFirstName()}">First name</th>
            <th th:text="${employer.getLastName()}">Last name</th>
            <th th:text="${employer.getEmail()}">Email</th>
            <th th:text="${employer.getPhone()}">Phone number</th>
            <th th:text="${employer.getLocation()}">Location</th>
            <th th:text="${#temporals.format(employer.createdAt, 'dd-MM-yyyy HH:mm:ss')}">Created at</th>
        </tr>
    </div>
</table>

</body>
</html>