<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add work experience</title>
</head>
<body>

<!-- Include the navigation fragment -->
<th:block th:replace="~{fragments/nav :: nav}"></th:block>

<form th:method="POST" th:action="@{/profile/work_experience/add}" th:object="${work_experience}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="companyName">Company name: </label>
    <input type="text" th:field="*{companyName}" id="companyName"/>
    <div style="color:red" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">Company name Error</div>
    <br/>

    <label for="position">Position: </label>
    <input type="text" th:field="*{position}" id="position"/>
    <div style="color:red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position Error</div>
    <br/>

    <label for="startDate">Start date: </label>
    <input type="date" th:field="*{startDate}" id="startDate"/>

    <label for="endDate">End date: </label>
    <input type="date" th:field="*{endDate}" id="endDate"/>

    <input type="hidden" th:field="*{person.id}" />
    <br/>

    <input type="submit" value="Add!"/>
</form>

</body>
</html>